.projects-section {
    padding: 20px;
    text-align: center; /* Centers the section title */
  }
  
  .projects-section > div {
    display: flex;
    flex-direction: column; /* Stacks ProjectBlock elements vertically */
    justify-content: center; /* Aligns ProjectBlock elements in the vertical space */
    align-items: center; /* Centers ProjectBlock elements horizontally */
    width: 100%;
  }
